

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1000px;
    background-color: #DDD;
}

.container ::deep .dxbl-text-edit {
    width: 200px;
}

.container ::deep .dxbl-text-edit:has(:focus)::after {
    border-bottom: solid 3px #007bff;
}

.dev-textbox{
    width: 100%;
}

.label-top {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label-top label {
    font-weight: 500;
}

.label-horizontal {
    display: flex;
    align-items: center;
    gap: 12px;
}

.label-horizontal label {
    min-width: 120px;
    font-weight: 500;
}